db.sqlite3
__pycache__/
*.py[cod]
media/
spotbook/keys.py
spotbook/keys_aws.py
venv/
spotbook/__pycache__/wsgi.cpython-310.py
spotbook/__pycache__/urls.cpython-310.py
spotbook/__pycache__/settings.cpython-310.pyc

spotbook/devkeys.py
SpotList.txt
